<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Product List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Make In</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let product of products | async">
            <td>{{ product.id }}</td>
            <td>{{ product.name | titlecase }}</td>
            <td>{{ product.brand | uppercase}}</td>
            <td>{{ product.madein | lowercase}}</td>
            <td>{{ product.price | currency:"INR"}}</td>
            <td>  <button (click)="editProduct(product.id)" class="btn btn-secondary" style="margin-left: 10px">Update</button></td>
            <td>  <button (click)="deleteProduct(product.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button></td>
            <td>  <button (click)="productDetails(product.id)" class="btn btn-info" style="margin-left: 10px"><Details></Details></button></td>
 
</tr>
        </tbody>
      </table>
    </div>
  </div>